
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
    

body{
    margin: 30px;
    background-image: url(../images/esmeraldabus.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*imagen completa  */
    background-repeat: no-repeat;
  
 
}
.mapa {
    max-width: 870px;
    margin: 10px 10px;
    padding: 40px 70px;
    background: rgba(163, 195, 201, 0.649);
    border-radius: 5%;
    text-align: center;
   
    color: rgb(0, 0, 0);
    animation: movimiento 2.5s infinite ;
    

  

}

@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);

    }
    
}