
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}

/*barra del buscador con mensaje*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(133, 204, 255);
    text-align: center;
}

.search input{
    width: 1450px;
    padding: 10px;
    margin: 30px;
    text-align: center;
    
    
}

/*MENU*/

.container__menu{
    width: 100%;
    height: 70px;
    background: #0d66cc;
    padding: 0px 20px;
    
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
/*servicios*/
nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../images/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
    background-image: url(../images/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /*sombra de fondo en el menu cuando pasa el cursor*/
}

#selected{
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*SUBMENU de servicios*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #0074C7;
    color: #fff;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
} 


/*textos*/

 main{
    
    padding: 90px 20px;
    margin-top: 50px;

}

article{
    max-width: 1200px;
    margin: 10px auto;
    padding: 40px;
    background: rgba(31, 165, 255, 0.486);
}
article h1{
    font-size: 30px;

}

article p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 3300;
} 
.logo{
    width: 200px;
    height: 200px;
    left: 10px;
    border-radius: 100%;
    margin: 30px ;/*AQUI*/
    position:relative;
}



#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 720px){

    .search input{
        display: none;
    }

    .header__superior{
        padding: 10px;
    }

    .logo img{
        width: 200px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 1;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    main{
        margin-top: 158px;
    }
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
} 











.contenedor-sobre-nosotros{
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;

    
    
}
.sobre-nosotros.contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
    color: #ffffff;
}
.contenido-textos h3 span{
    background: rgb(34, 118, 244);
color: #fff;
border-radius: 50%;
display: inline-block;
text-align: center;
width: 30px;
padding: 2px;
box-shadow: 0 0 6px 0 #f7f7f7;
margin-right: 5px;


}
.contenido-textos .cajacp{
    margin:25px;
    position:relative;
   
    display: flex;
    height: 280px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 145, 255, 0.609);
    box-shadow: 0 0 6px 0 rgba(47, 127, 167, 0.65);
 
}
.contenedor-sobre-nosotros h3{
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenido-textos p{
    margin: 100px;
    padding: 0px 0px 30px 15px;
font-weight: 300;
text-align: justify;
color: #fff;
}







